
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f4f6;
    color: #333;
}


header {
    background: #1c1d22;
    text-align: center;
    padding: 25px 0;
    color: white;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    margin: 5px 0 0;
    color: #ddd;
}


nav {
    background: #ffffff;
    border-bottom: 2px solid #ddd;
}

nav ul {
    margin: 0;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav .active a,
nav a:hover {
    color: #ff9800;
    font-weight: bold;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}


.card {
    background: white;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 12px;
}

.card h2 {
    margin: 5px 0;
}

time {
    font-size: 14px;
    color: gray;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    background: #ff9800;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.btn:hover {
    background: #e68900;
}


.sidebar {
    background: white;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.12);
}

.sidebar h3,
.sidebar h4 {
    margin-bottom: 10px;
}

.sidebar ul {
    padding-left: 18px;
}

.sidebar a:hover {
    color: #ff9800;
}

.trend-box {
    background: #fff6e4;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.ad {
    background: #ffe9b7;
    padding: 12px;
    border-radius: 8px;
    border: 1px dashed #d69500;
    text-align: center;
}


footer {
    background: #1c1d22;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer .social a {
    margin: 0 12px;
    color: #ff9800;
    text-decoration: none;
}

footer .social a:hover {
    text-decoration: underline;
}


@media(max-width: 850px) {
    .container {
        grid-template-columns: 1fr;
    }
}
