nav {
            width: 100%;
            background-color: #2c3e50;
            padding: 15px 0;
            text-align: center;
        }

        nav a {
            display: inline-block;
            margin: 0 20px;
            padding: 10px 15px;
            text-decoration: none;
            color: white;
            font-size: 18px;
            transition: 0.3s;
        }

        nav a:hover {
            background-color: #34495e;
            color: #f1c40f;
            border-radius: 5px;
        }